*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:DM Sans;
}

/* .img{
    display: cover;
} */

.container{

width: 100%;
height: 100%;


}

nav {
    background-color: #f8f9fa; /* Set your desired background color */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left, .right {
    display: flex;
    align-items: center;
}

.center {
    flex-grow: 1;
    text-align: center;
}

.btn {
    background-color: #007bff; /* Set your desired button color */
    color: #fff; /* Set text color */
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3; /* Change button color on hover */
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline; /* Add underline on link hover */
}