*{box-sizing: border-box;
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;

}
.container{
    
    height: 100vh;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;

}

.form{
    border: 1px solid rgb(202, 197, 197);
    border-radius: 10px;
    padding: 30px;
    width: 500px;
    position:relative;

}

.form>h4{
font-size: 28px;
font-weight: 500;

}
.form>h2{
    font-size: 35px;
    font-weight: 500;
    margin-top: 10px;
}


div>p{
    font-size: 18px;
    margin-top: 20px;
    
}

#btn{
    
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 30px;
  
    
   
}
#btn>button{
    background-color: #f5f5f5;
    line-height: 5px;
    color: #000;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
    height: 55px;
    margin-top: 20px;
    margin-bottom: 20px;
    /* width: 30%; */
    
   
}

#btn>button:hover{
background-color: red;

}


.date{
    font-size: 20px;
    font-weight:500;
    margin-bottom: 10px;
}




.tasks>input{
border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 22px;
    height: 55px;
    margin-top: 75%;
    margin-bottom: 20px;
    padding: 0 20px;
    width: 100%;
}
.tasks>button{
    background-color: #000;
    color: white;
  border-radius: 5px;
  height: 55px;
  width: 100%;
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 10px;
}